<div class="infer">
  <table ng-show="getKeys(model.inferredValues).length > 0" class="table table-condensed fx-fade-up" style="font-size: 0.9em">
    <thead>
      <tr class="blue">
        <th class="col-sm-3">
          Parameter
        </th>
        <th class="col-sm-4">
          Extracted
        </th>
        <th class="col-sm-4">
          Inferred
        </th>
        <th class="col-sm-1 nowrap">
          <a tooltip="Accept All" tooltip-placement="bottom" class="btn btn-default btn-xs" ng-class="{disabled: getKeys(model.inferredValues).length === 0}" ng-click="acceptAllInferredValues()">
            <i class="fa fa-check text-success"></i>
          </a>
          <a tooltip="Reject All" tooltip-placement="bottom" class="btn btn-default btn-xs" ng-class="{disabled: getKeys(model.inferredValues).length === 0}" ng-click="rejectAllInferredValues()">
            <i class="fa fa-close text-danger"></i>
          </a>
        </th>
      </tr>
    </thead>
    <caption class="table-caption">
      <div class="total-records pull-left">
        <span class="text-success">Accepted: <b class="ng-binding">{{model.acceptedCount}}</b>
        </span>
        &nbsp;|&nbsp;
        <span class="text-danger">Rejected: <b class="ng-binding">{{model.rejectedCount}}</b>
        </span>
        &nbsp;|&nbsp;
        <span class="text-warning">Already Extracted: <b class="ng-binding">{{model.alreadyExtracted}}</b>
        </span>
      </div>
      <div class="total-records pull-right">
        <span>Total: <b>{{model.inferredCount}}</b>
        </span>
      </div>
    </caption>
    <tbody>
      <tr class="fx-fade-normal fx-speed-350 fx-easing-quad header" ng-repeat-start="header in headers" ng-if="model.inferredValues[header.headerId] !== undefined">
        <th colspan="3" class="header">
          {{ header.headerName }}
        </th>
        <td class="header nowrap">
          <a tooltip="Accept Header" tooltip-placement="bottom" class="btn btn-default btn-xs" ng-class="{disabled: getKeys(model.inferredValues).length === 0}" ng-click="acceptAllInferredValuesInList(model.inferredValues[header.headerId], true)">
            <i class="fa fa-check text-success"></i>
          </a>
          <a tooltip="Reject Header" tooltip-placement="bottom" class="btn btn-default btn-xs" ng-class="{disabled: getKeys(model.inferredValues).length === 0}" ng-click="rejectAllInferredValuesInList(model.inferredValues[header.headerId], true)">
            <i class="fa fa-close text-danger"></i>
          </a>
        </td>
      </tr>
      <tr class="fx-fade-normal fx-speed-300 fx-easing-quad" ng-class="{'warning': (!isEmpty(infer.extractedDisplayValue) && infer.displayValue != infer.extractedDisplayValue)}" ng-repeat="infer in model.inferredValues[header.headerId]" ng-repeat-end>
        <td class="col-sm-4">
          {{ infer.parameterName }}
        </td>
        <td class="col-sm-3">
          <i ng-if="infer.extractedEcode" class="fa fa-fw fa-2 fa-warning text-warning"></i>
          <span ng-if="infer.noValue" class="label label-warning">No Value</span>
          <span ng-if="!isEmpty(infer.extractedDisplayValue)" read-more words="false" ng-model="infer.extractedDisplayValue" length="255"></span>
          <span ng-if="isEmpty(infer.extractedDisplayValue)">&nbsp;</span>
        </td>
        <td class="col-sm-4">
          <i ng-if="infer.targetEcode" class="fa fa-fw fa-2 fa-warning text-warning"></i>
          <span ng-if="!isEmpty(infer.displayValue)" read-more words="false" ng-model="infer.displayValue" length="255"></span>
          <span ng-if="isEmpty(infer.displayValue)">&nbsp;</span>
        </td>
        <td class="col-sm-1 nowrap">
          <a href="" ng-click="acceptInference(infer)" class="btn-xs">
            <i ng-class="{'fa-check': !infer.isRepeatable, 'fa-plus': infer.isRepeatable}" class="fa fa-fw text-success"></i>
          </a>
          <a href="" ng-click="rejectInference(infer)"><i class="fa fa-fw fa-close text-danger"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-if="!processed">
    <h1 class="text-center text-muted"><i class="fa fa-fw fa-cog fa-spin"></i>Processing...</h1>
  </div>
  <div ng-show="showMessage && model.acceptedCount === 0 && model.rejectedCount === 0 && model.alreadyExtracted === 0" class="alert alert-danger" role="alert">
    <i class="fa fa-fw fa-exclamation-circle text-danger"></i>No inference found.
  </div>
  <div ng-show="showMessage && model.alreadyExtracted > 0" class="alert alert-success" role="alert">
    <i class="fa fa-fw fa-info-circle text-success"></i>Inferred values are already extracted.
  </div>
</div>