// Main CSS file for SDE Integration. All the CSS rules will be written in this file and should correspond to SASS syntax
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
$fa-font-path: '../bower_components/font-awesome/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'compass/css3/images';
@import 'compass/utilities/general/hacks';
@import 'compass/css3/shared';
@import 'compass/css3/transform';

$total-records-background-color: #f8f8f8;
$total-records-color: #777;
$total-caption-border: #ddd;

.nowrap {
  white-space: nowrap;
}

p {
  display: inline;
  margin: 0;
}

.total-records {
  background-color: $total-records-background-color;
  border: 1px solid $total-caption-border;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: $total-records-color;
  display: inline-block;
  font-size: 11px;
  line-height: 1.42;
  margin: 0 10px;
  padding: 3px 15px;
  position: relative;
  white-space: nowrap;

  div {
    line-height: 35px;
  }
}

.table-caption {
  border-bottom: 2px solid $total-caption-border;
}
