// Main CSS file for SDE Integration. All the CSS rules will be written in this file and should correspond to SASS syntax

$icon-font-path: '/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

$fa-font-path: '/bower_components/font-awesome/fonts';

@import 'font-awesome/scss/font-awesome';

@import 'compass/css3/images';
@import 'compass/utilities/general/hacks';
@import 'compass/css3/shared';
@import 'compass/css3/transform';

// include removed bootstrap contextual badge classes
.badge-default {
  @include label-variant($label-default-bg);
}

.badge-primary {
  @include label-variant($label-primary-bg);
}

.badge-success {
  @include label-variant($label-success-bg);
}

.badge-info {
  @include label-variant($label-info-bg);
}

.badge-warning {
  @include label-variant($label-warning-bg);
}

.badge-danger {
  @include label-variant($label-danger-bg);
}

.underline {
  border-bottom: 1px dotted $abbr-border-color;
}

$border: 2px solid #ddd;

@mixin set-border($border) {
  border-right: $border;
  border-left: $border;
}

@mixin set-background-color($color) {
  background-color: $color;
}

.nowrap {
  white-space: nowrap;
}

.leftpad {
  padding-left: 10px;
}

.rightpad {
  padding-right: 10px;
}

.padding {
  padding: 10px;
}

.toppad {
  padding-top: 10px;
}

.bottompad {
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}

.wide {
  margin: 0 -15px;
}

.bold {
  font-weight: bold;
}

.page-header {
  // these two properties are for animating the page header after affix is applied
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: static;
  top: -32px;
  width: 100%;
}

.page-header.affix {
  @include transition(top .6s ease-in-out);
  background-color: $state-info-bg;
  border-bottom: 1px dashed #d6d6d6;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  color: $state-info-text;
  margin-left: -15px;
  padding-left: 15px;
  position: fixed;
  // where the affixed control should be placed
  top: 40px;
  z-index: 10;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  // Margin bottom by footer height
  margin-bottom: 60px;
  // padding top for fixed header
  padding-top: 50px;
}

#footer {
  background-color: #f5f5f5;
  bottom: 0;
  // Set the fixed height of the footer here
  height: 60px;
  position: absolute;
  width: 100%;
}

// slide in animation
.fx-slide-in {
  &.ng-enter,
  &.ng-leave {
    @include transition(all .5s ease-in-out);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &.ng-leave {
    left: 0;
  }

  &.ng-leave-active {
    left: -100%;
  }

  &.ng-enter {
    left: 100%;
  }

  &.ng-enter-active {
    left: 0;
  }
}

.dl-horizontal dt {
  width: 100px;
}

.dl-horizontal dd {
  margin-left: 110px;
}

.wave-spinner {
  margin: 0 auto;
}

.wave-spinner > div {
  background-color: $label-success-bg;
}

// Use this class to hide fa-icons
.icon-invisible {
  visibility: hidden;
}
