<div style="color: #222; text-align:center; padding: 15px 10px;">
  System's Inferred Values from User Input on <b>{{ parameterName }}</b> value: <b>{{ selectedValue }}</b>
</div>
<div growl inline="true"></div>

<table class="table table-striped table-condensed">
  <th>Parameter</th>
  <th>Extracted</th>
  <th>Inferred</th>
  <th>
    <div class="nowrap">
      <a tooltip="Accept All" class="btn btn-default btn-xs" ng-click="acceptAllInferredValues()">
        <i class="fa fa-check text-success clickable"></i>
      </a>
      <a tooltip="Reject All" class="btn btn-default btn-xs" ng-click="rejectAllInferredValues()">
        <i class="fa fa-close text-danger clickable"></i>
      </a>
    </div>
  </th>

  <tr ng-class="{'warning': (infer.extractedValue && infer.inferredValue != infer.extractedValue)}" ng-repeat="infer in inferredValues">
    <td class="col-md-3">
      {{ infer.parameterName }}
    </td>
    <td class="col-md-4">
      &nbsp;
      <span ng-if="infer.extractedDisplayValue" ng-class="{'text-muted': infer.extractedEcode > 2}" read-more words="false" ng-model="infer.extractedDisplayValue" length="255"></span>
    </td>
    <td class="col-md-4">
      &nbsp;
      <span ng-if="infer.displayValue" ng-class="{'text-muted': infer.targetEcode > 2}" read-more words="false" ng-model="infer.displayValue" length="255"></span>
    </td>
    <td class="nowrap col-md-1">
      <i tooltip="Accept Inference" ng-click="acceptInference(infer, true)" class="fa fa-check fa-lg text-success clickable"></i>
      <i tooltip="Reject Inference" ng-click="rejectInference(infer, true)" class="fa fa-close fa-lg text-danger clickable"></i>
    </td>
  </tr>
</table>